.contact {

    &__form {
        margin-bottom: 6rem;
    }

    &__border {
        grid-column: 1 / 3; 
        margin-bottom: .5rem;

        @include respond(phone) {
            grid-column:  1 / 2;
        }

        @include respond(fix-500) {
            grid-column: 1 / -1;
        }
    }

    &__img {
        width: 100%; 
    }

    &__privacy {
        font-size: 1.6rem;
        line-height: 3.2;
        justify-self: center;
        margin-top: 0;

        @include respond(tab-land) {
            justify-self: start;
        }

        @include respond(fix-1100) {
            font-size: 1.4rem;
            margin-top: 0;
        }
        
        @include respond(tab-port) {
            line-height: 2;
        }

        @include respond(phone) {
            justify-self: center;
            line-height: 3.2;
            margin-bottom: 6rem;
        }

        @include respond(fix-500) {
            line-height: 2.2;
        }
    }

    &__panel {

        &--left {
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 7rem;

            @include respond(tab-land) {
                padding-bottom: 0;
            }

            @include respond(phone) {
                grid-column:  1 / -1;
                grid-row: span 1;
            }

        }

        &--right {
            grid-column: 5 / -1;
            display: grid;

            @include respond(phone) {
                grid-column:  1 / -1;
                grid-row: span 1;
                margin-top: 3rem;
            }
        }
    }
} 

