.contact {

    &__form {
        margin-bottom: 6rem;
    }

    &__border {
        grid-column: 1 / 3 ;
        margin-bottom: .5rem;

        @include respond(phone) {
            grid-column:  1 / 2;
        }
    }

    &__img {
        height: 80%;
        justify-self: end;

        @include respond(tab-land) {
            justify-self: start;
            width: 80%;
        }

        @include respond(fix-1100) {
            height: 100%;
            width: 100%;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__privacy {
        margin-top: -8rem;
        font-size: 1.6rem;
        line-height: 3.2;
        justify-self: end;

        @include respond(tab-land) {
            justify-self: start;
        }

        @include respond(fix-1100) {
            font-size: 1.4rem;
            margin-top: 0;
        }
        
        @include respond(tab-port) {
            line-height: 2;
        }

        @include respond(phone) {
            justify-self: center;
            line-height: 3.2;
        }
    }

    &__right-panel {
        grid-column: 4 / 6;
        grid-row: 1 / -1;
        display: grid;

        @include respond(phone) {
            grid-column:  1 / -1;
            grid-row: span 1;
            margin-top: 3rem;
        }
    }
} 

