.gallery {

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
        margin-top: 10rem;
        margin-bottom: 10rem;

        @include respond(fix-800) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        cursor: pointer;
        font-family: $font-secondary;
        transition: all .2s;

        &--description {
            border: $border-light;
            padding: 1.5rem;

            @include respond(fix-800) {
                grid-column: 1 /-1;
                padding: 5rem;
                margin-left: 4rem;
                margin-right: 4rem;
            }

            @include respond(fix-500) {
                padding: 2rem;
            }
            
        }

        @include respond(phone) {
            grid-column: 1 /-1;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        @include respond(fix-500) {
            margin-left: 0;
            margin-right: 0;
        }

        &:hover {
            transform: scale(1.1);

            @include respond(fix-800) {
                transform: scale(1.02); 
            }
        }
    }

    &__img {
        width: 100%;
        grid-column: 1 / -1;
    }

    &__overlay {
        grid-column: 1 / -1;
        padding: 1.25rem;
        transform: translateY(-120%);
        background-color: $color-transparent-light;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);

        @include respond(phone) {
            padding: .5rem;
            grid-template-rows: auto;
        }

        @include respond(fix-500) {
            padding: .5rem 2rem;
        }
    }

    &__heading {
        font-size: $default-font-size;

        &--chair {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &--description {
            padding-top: 2rem;

            @include respond(fix-1100) {
                padding-top: 0;
            }
        }

        @include respond(fix-1100) {
            font-size: 1.4rem;
            grid-column: 1 / -1;
        }

        @include respond(fix-800) {
            padding-bottom: 1rem; 
        }

        @include respond(fix-500) {
            text-align: center;
        }
    }

    &__paragraph {
        grid-column: 1 / -1;

        @include respond(fix-1100) {
            font-size: 1.4rem; 
        }
    }

    &__border {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        align-self: center;

        &--description {
            align-self: initial;

            @include respond(fix-800) {
                margin-bottom: 1rem; 
            } 
        }

        @include respond(tab-port) {
            align-self: inherit;
        }

        @include respond(fix-500) {
            grid-column: 1 / -1;
        }
    }
}