.main-nav {
    background: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 99;

    .container {
        display: grid;
        grid-template-columns: 6fr 2fr;
        padding: 1rem 2rem;
        align-items: center;

        @include respond(phone) {
            grid-template-columns: 1fr;
        }
    }

    &__logo {
        &:link,
        &:visited {
            text-transform: uppercase;
            color: #fff;
            font-size: 2.4rem;
        }

        @include respond(phone) {
            text-align: center;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;

        &-item-link {
            &:link,
            &:visited {
                color: $color-menu;
                padding: 1.2rem;
            }

            &:hover {
                color: #fff;
            }
        }

        @include respond(phone) {
            padding-top: 1rem;
        }
    }
}