.btn {
    &,
    &:link,
    &:visited {
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: .5rem;
        color: #fff;
        background-color: $color-primary;
        transition: all .2s;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        background-color: $color-primary-light;
    }

    &--showcase {
        padding: 1rem 3rem;
    }

    &--price-plan {
        grid-column: 2 / 3;
        padding: 1rem 3rem;
        align-self: end;
    }

    &--order {
        width: 80%;
        justify-self: center;
        text-align: center;
        align-self: end;
        padding: 1rem 3rem;

        @include respond(phone) {
            margin-top: 3rem;
        }
    }

    &--contact {
        padding: 1rem 3rem;
        width: 50%;
        justify-self: center;
        margin-top: 3rem;
        align-self: end;


        @include respond(phone) {
            margin-top: 4rem;
            justify-self: center;
        }

        @include respond(fix-1100) {
            margin-top: 0;
            align-self: start;
        }
        
    }
}