.custom-select {
    grid-column: 1 / -1;
    position: relative;
    outline: none;

    &__features {
        background-color: #fff;
        color: $color-price-text;
        border: $border-primary;
        padding: 1rem 3rem;
        width: 100%;
        font-size: 1.6rem;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
    }

    &:before {
        content: "";
        border: $border-primary;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        position: absolute;
        top: 30%;
        right: 5%;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
    }
}