.fieldset {
    border: none; 

    &--creator {
        grid-template-columns: 1fr 6fr;

        @include respond(phone) {
            grid-template-columns: 2fr 1fr 1fr;  
        }
    }

    &__grid-parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 3fr;
    }
  

    &__legend {
        grid-column: 1 / -1;
    }
}
