.fieldset {
    border: none;
    display: grid;

    &--creator {
        grid-template-columns: 1fr 6fr;
    }

    &--contact {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, min-content);
    }

    &__legend {
        grid-column: 1 / -1;
    }
}