.fieldset {
    border: none;
    display: grid;

    &--creator {
        grid-template-columns: 1fr 6fr;

        @include respond(phone) {
            grid-template-columns: 2fr 1fr 1fr;  
        }
    }

    &--contact {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, min-content);
        
        @include respond(phone) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__legend {
        grid-column: 1 / -1;
    }
}