.container {
    max-width: $max-width;
    margin: 0 auto;
    //overflow: hidden;
    //padding: 0 3rem;
}

.u-text-primary {
    color: $color-primary; 
}

.heading-3 {
    text-transform: uppercase;
    font-size: 1.8rem;
}