//FONT
$default-font-size: 1.6rem;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// WIDTH
$max-width: 120rem;

//COLORS
$color-primary: rgb(36, 186, 157);
$color-primary-light: rgb(56, 217, 186);
$color-menu: rgb(169, 169, 169);
$color-showcase: linear-gradient(rgb(248, 248, 248) 0%, rgb(207, 206, 211) 99%);
$color-billing: #f1f1f1;
$color-price-card: #F9F9F9;
$color-feature-odd: #e5e3e5;
$color-feature-even: #f2f0f2;
$color-transparent-light: rgba(255, 255, 255, 0.5);
$color-price-text: #949294;

//BORDERS
$color-border-light: #D4D4D4;
$border-light: 1px solid $color-border-light;
$border-primary: 1px solid $color-primary;
$border-primary-light: 1px solid #24BA9D;

